alabaster==0.7.12
apiclient==1.0.3
appnope==0.1.0
arabic-reshaper==2.0.14
asn1crypto==0.24.0
astunparse==1.6.2
Babel==2.6.0
backcall==0.1.0
bleach==3.1.1
cachetools==3.1.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
chart-studio==1.0.0
Click==7.0
colorcet==2.0.2
configparser==3.7.4
cryptography==2.5
cycler==0.10.0
dash==0.36.0
dash-core-components==0.43.0
dash-daq==0.1.0
dash-html-components==0.13.5
dash-renderer==0.18.0
dash-table==3.1.11
dash-table-experiments==0.6.0
decorator==4.3.2
defusedxml==0.5.0
docutils==0.14
entrypoints==0.3
esprima==4.0.1
et-xmlfile==1.0.1
Flask==1.0.2
Flask-Compress==1.4.0
freetype-py==2.1.0.post1
future==0.17.1
get==2018.11.19
gevent==1.4.0
gitdb2==2.0.5
GitPython==2.1.11
google-api-python-client==1.7.10
google-auth==1.6.2
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.2.0
greenlet==0.4.15
gsheets==0.3.1
gspread==3.1.0
gunicorn==19.9.0
httplib2==0.12.0
idna==2.8
imageio==2.5.0
imageio-ffmpeg==0.2.0
imagesize==1.1.0
ipydatawidgets==4.0.1
ipykernel==5.1.0
ipympl==0.3.3
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itk==5.0.1
itk-core==5.0.1
itk-filtering==5.0.1
itk-io==5.0.1
itk-numerics==5.0.1
itk-registration==5.0.1
itk-segmentation==5.0.1
itkwidgets==0.18.0
itsdangerous==1.1.0
jdcal==1.4
jedi==0.13.2
joblib==0.13.2
json-tricks==3.13.1
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==3.0.3
mistune==0.8.4
mock==2.0.0
moviepy==1.0.0
msgpack==0.6.1
msgpack-numpy==0.4.4.2
msgpack-python==0.5.6
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.4
np==1.0.2
numexpr==2.6.9
numpy==1.16.1
oauth2client==4.1.3
oauthlib==3.0.1
opencv-python==4.0.0.21
openpyxl==2.6.1
packaging==19.0
pandas==0.24.2
pandocfilters==1.4.2
param==1.9.2
parso==0.3.3
patsy==0.5.1
pbr==5.1.3
pexpect==4.6.0
pickleshare==0.7.5
plotly==4.0.0
post==2018.11.20
proglog==0.1.9
prometheus-client==0.5.0
prompt-toolkit==2.0.8
PsychoPy==3.0.4
ptyprocess==0.6.0
public==2018.11.20
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.19
pyct==0.4.6
pygame==1.9.4
pyglet==1.3.2
Pygments==2.3.1
PyJWT==1.7.1
PyOpenGL==3.1.0
pyOpenSSL==19.0.0
pyosf==1.0.5
pyparsing==2.3.1
PyQt5==5.12.1
PyQt5-sip==4.19.15
pyserial==3.4
PySocks==1.6.8
python-bidi==0.4.0
python-dateutil==2.8.0
python-gitlab==1.8.0
pytz==2018.9
PyWavelets==1.1.1
PyYAML==5.1
pyzmq==17.1.2
qtconsole==4.4.3
query-string==2018.11.20
request==2018.11.20
requests==2.21.0
requests-oauthlib==1.2.0
researchpy==0.1.7
retrying==1.3.3
rise==5.5.1
rsa==4.0
scikit-image==0.16.2
scikit-learn==0.21.3
scikit-posthocs==0.6.1
scipy==1.2.1
seaborn==0.9.0
Send2Trash==1.5.0
sentry-sdk==0.12.0
six==1.12.0
sklearn==0.0
smmap2==2.0.5
snowballstemmer==1.2.1
sounddevice==0.3.13
SoundFile==0.10.2
statsmodels==0.10.1
tables==3.5.1
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
tqdm==4.31.1
traitlets==4.3.2
traittypes==0.2.1
twilio==6.25.1
uritemplate==3.0.0
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
xlrd==1.2.0
zstandard==0.12.0
